<h3>Create a New List</h3>

<form action="/lists" method="POST">
  <label> List Name: </label>
  <input type="text" name="name">
  <br></br>
  <label> Description: </label>
  <input id="description" name="description" type="text">
  <input class="btn btn-primary" value="Submit" type="submit">
</form>

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>
