<h3>Log In:</h3>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input class="btn btn-primary" type="submit" value="Submit">
</form>

<h4>Or you can: <a href="/signup">Sign Up</a></h4>
