<!DOCTYPE html>
<html>
<head>
  <title>Task_Link</title>
</head>
<nav>
  <div class="container">
    <% if !@error_message.nil? %>
    <div class="alert alert-warning">
      <%= @error_message %>
    </div>
<% end %>
  <%= yield %>
</html>
