<!DOCTYPE html>
<html>
<head>
  <title>Family To-Do Lists</title>
</head>
<body>
    <% if logged_in? %>
   <h1 class="todo"><u>Get to Work</u> : Here are the To-Do Lists</h1>
   <h4>
      <a href="/lists/new"> Create List </a> |
      <a href="/lists"> View Lists </a> |
      <a href="/logout"> Log Out </a>
    </h4>
    <%end %>
  </nav>
</div>
<nav>
  <div class="container">
    <% if !@error_message.nil? %>
    <div class="alert alert-warning">
      <%= @error_message %>
    </div>
<% end %>
  <%= yield %>

</body>
</html>
